.accountInfoContainer {
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.title {
    font-size: 28px; /* Taille identique à celle utilisée dans les autres composants */
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: left; /* S'assure que le titre est aligné à gauche */
}

.accountForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accountForm input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Assure que la largeur inclut le padding et les bordures */
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.accountForm button {
    padding: 10px;
    background-color: #C0463F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Assure que le bouton reste sous les inputs */
    width: 200px; /* Ajuste la largeur du bouton */
    box-sizing: border-box; /* Assure que la largeur inclut le padding et les bordures */
}

.accountForm button:hover {
    background-color: #a73b35;
}

.error {
    color: white;
    background-color: #C0463F;
    border: 1px solid #a73b35;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
