.privateMessageList {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%; /* Set height to fill the parent container */
    overflow: hidden; /* Ensures overflow content is handled by child elements */
}

.header {
    margin-bottom: 20px;
}

.backButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.messageList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Enable vertical scrolling */
    flex-grow: 1; /* Allows the list to take up all available space */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.messageList::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

.messageItem {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.messageItem:hover {
    background-color: #eee;
}

.imagePlaceholder {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 15px;
}

.messageInfo {
    flex: 1;
}

.sender {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.preview {
    margin: 0;
    color: #555;
    font-size: 14px;
}
