.privateMessageList {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.headerContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 40px; /* Define a fixed height for the container */
}

.header {
    flex-grow: 1;
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 100%; /* Match the height of the container */
}

.backButton {
    background-color: #7C2D29;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0 8px; /* Adjust padding for appropriate width */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 90%; /* Match the height of the container */
    margin-top: 0 !important; /* Override any inherited margin-top */
}

.backButton:hover {
    background-color: #6A231F;
    font-weight: bold;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
}

.messageList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex-grow: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.messageList::-webkit-scrollbar {
    display: none;
}

.messageItem {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.messageItem:hover {
    background-color: #eee;
}

.profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.messageInfo {
    flex: 1;
}

.sender {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.preview {
    margin: 0;
    color: #555;
    font-size: 14px;
}
