/* SwiperCard.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Centrage vertical */
    height: 100%;
}

.card {
    width: 850px;
    height: 450px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease; /* Transition générale pour le swipe */
}

.card.liked .infoContainer {
    animation: none; /* Désactiver l'animation pour la carte suivante */
}

.card.liked {
    animation: likedAnimation 0.3s ease; /* Animation spécifique pour le swipe vers la droite */
}

@keyframes likedAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(800px); /* Déplacement vers la droite */
    }
    100% {
        transform: translateX(0);
    }
}

.infoContainer {
    width: 50%;
    padding: 20px;
    overflow-y: auto; /* Activation du défilement vertical */
    background-color: #7C2D29;
}

.scrollableInfo {
    max-height: 100%;
}

.imageContainer {
    width: 50%;
}

.image {
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.infoContainer {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
    background-color: #7C2D29;
}

.scrollableInfo {
    max-height: calc(100% - 40px); /* Ajustement de la hauteur maximale */
}

.name {
    margin-top: 0;
}

.age, .description, .location {
    margin-bottom: 10px;
}

.button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.topicHeader {
    margin-top: 20px;
}

.topics {
    list-style-type: none;
    padding: 0;
}

.topic {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
