.parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
}

.container {
    position: relative;
    width: 850px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transition for transform and opacity */
}

.card.liked {
    animation: likedAnimation 0.5s ease forwards; /* Animation for swipe right */
}

.card.disliked {
    animation: dislikedAnimation 0.5s ease forwards; /* Animation for swipe left */
}

@keyframes likedAnimation {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: translateX(800px) rotate(7deg); /* Move out to the right with slight rotation */
        opacity: 1;
    }
    100% {
        transform: translateX(1500px) rotate(15deg);
        opacity: 0;
    }
}

@keyframes dislikedAnimation {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: translateX(-800px) rotate(-7deg); /* Move out to the left with slight rotation */
        opacity: 1;
    }
    100% {
        transform: translateX(-1500px) rotate(-15deg);
        opacity: 0;
    }
}

.infoContainer {
    width: 50%;
    padding: 20px;
    overflow-y: hidden; /* Prevent scrolling of the entire container */
    background-color: #7C2D29;
}

.scrollableInfo {
    max-height: calc(100% - 60px); /* Adjust height considering name and margins */
    overflow-y: auto;
}

.hideScrollbar::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for webkit browsers */
}

.hideScrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.imageContainer {
    width: 50%;
}

.image {
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.name {
    margin-top: 8px;
    margin-bottom: 20px;
    color: white;
    position: sticky;
    top: 0;
    background-color: #7C2D29; 
}

.age, .description, .location, .politicalBelief, .communismLevel, .partnerShare {
    margin-bottom: 5px; /* Reduced margin */
    color: white;
}

.location strong, .politicalBelief strong, .communismLevel strong, .partnerShare strong {
    font-weight: bold;
}

.button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #6C1E19   ;
    color: white;
    border: 1px solid white;
    font-weight: bold;

}

.topicHeader {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.blogList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blogItem {
    background: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.blogItem:hover {
    transform: translateY(-1px);
}

.blogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s;
    border-radius: 10px; 
    background-color: #6C1E19; 
    color: white;
}

.blogHeader:hover {
    background-color: #69231f;
}

.blogTitle {
    font-size: 1.2em;
    font-weight: bold;
}

.blogActions {
    display: flex;
    gap: 10px;
}

.icon {
    cursor: pointer;
    color: white;
    transition: color 0.3s;
}

.icon:hover {
    color: yellow;
}

.blogContent {
    padding: 20px;
    font-size: 1em;
    color: #333;
    background-color: #f0f0f0;
    line-height: 1.6;
    border-radius: 0 0 10px 10px;
}

.star {
    color: gold;
    font-size: 1.2em;
}

.capitalist {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}
